
.background{
    background-image: url("https://wallpapercave.com/wp/wp4059913.jpg");
    height: 98vh;
    
}

.seasonBlock {
    display: flex;
    justify-content: center;
}

.seasonTable{
    display: flex;
    flex-direction: column;
    /* border: 2px black solid; */
    padding: 25px;
    /* background-color: #6f42c1; */
    border-radius: 1rem;

}

.seasonNum {
    color: white;
    box-shadow: rgba(11, 11, 11, 0.25) 0px 30px 60px -12px inset, rgba(164, 0, 0, 0.3) 0px 18px 36px -18px inset;
    font-size: 30px;
    background-color: transparent;
    border-radius: 1rem;
    margin-bottom: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.seasonHeading{
    padding-top: 60px;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}